body {
    background-image:url("/images/kamisato-ayaka-genshin-impact-art-1-4k-wallpaper-3840x2160-uhdpaper.com-952.1_a.jpg");
  background-size: 100%;
  }
  
  ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
    
  }
  li{
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }
  .lalign{
    float:right
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
  p {
    font-size: 22px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }
  .body{
    background-color: #FFFF;
  }


